@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@700&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");

.container{
    margin-bottom: 15px;
}

.title{
    font-family: "Trade Winds", cursive;
}

#gif{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px ;
}

#giffy{
    width: 1337px;
    height: 634px;
    opacity: 0.8;
}
/* .aboutUs{
    background-image: url(https://images.unsplash.com/photo-1563906267088-b029e7101114?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
} */