@media screen and (max-width: 991px) {
  .navbar-light .navbar-toggler {
    width: 15vw;
    margin-left: 80vw;
    margin-top: -3vh;
  }
  .navbar-dark .navbar-toggler {
    width: 15vw;
    margin-left: 80vw;
    margin-top: -3vh;
  }

  #navBut,button:not(:disabled){
     width:30vw;
  }
}

.dropdown-item:hover{
  background-color: rgb(24, 102, 217);;
}
