.gradient-custom-4 {
  background: #84fab0;
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}

.errorTag {
  color: red;
  font-family: 'Times New Roman', Times, serif;
}
